/*add background image and add some styles to become responsive*/
body {
    background-image: url("back-image.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: left;
    background-size: 100% 100%;


}
/*make the content display to flex and also add border and some margins, also flex wrap to become responsive*/
.content {

    border: solid 4px black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    margin-top: 150px;


}

/*styles for flex items*/
.item{
    margin: 50px;
    margin-top: 20px;
    padding: 50px;
}
/*margin for save button*/
#save-btn {
    margin-top: 10px;

}

/*style for saved answer div , when nothing is being saved the display is none*/
.saved-answer {

    display: none;
    border: dashed 1px black;
    width: 150px;


}
/*margin for clear button*/
#clear-btn {
    margin-bottom: 5px;
}