
/** {*/
/*    box-sizing: border-box;*/
/*}*/
body {
    background-image: url("back-image.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: left;
    background-size: 100% 100%;


}
.content {

    border: solid 4px black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    margin-top: 150px;


}


.item{
    margin: 50px;
    margin-top: 20px;
    padding: 50px;
}

#save-btn {
    margin-top: 10px;

}

.saved-answer {

    display: none;
    border: dashed 1px black;
    width: 150px;


}

#clear-btn {
    margin-bottom: 5px;
}